

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Servicios</h1>
        <p class="lead">Puedes remitir la información de los casos clínicos de procesos cardio-respiratorios en perros y gatos que nos quieras consultar a través de los medios electrónicos habituales: on-line (a través de la web), por correo electrónico, por Whats App. Es importante siempre enviar una completa información del paciente y unas buenas imágenes de las pruebas realizadas.</p>
        <hr class="my-4">
        <p>Se hará una evaluación de las pruebas remitidas para proporcionar el diagnóstico más aproximado del proceso cardio-respiratorio y un asesoramiento práctico y personalizado de cómo proceder con el caso.</p>
        <p>Si es necesario, se aconsejaría la conveniencia de realizar otras pruebas adicionales para concretar de forma más precisa los diagnósticos, o para obtener información sobre la terapia más apropiada, o para recoger datos sobre el pronóstico más probable.</p>
        <p>Se remitirá un resumen de esta información por correo electrónico pudiéndose, posteriormente, resolver las dudas que resulten del estudio.</p>
        <div  class="fotos">
            <img src="https://lh3.googleusercontent.com/proxy/o6odsiVG2-yGRoLzVXm262i_9GpGuoHwDVpU821378HYoW6hMbOYdz0ulHeZv1gXIAhnKJf_6snyLzmqunETMzBp7AiYLDNyNhI9M0ocXnV8Lo6TOZPxa6aArGwRjH7yJKoQ1h0NP8lRgxMq" alt="vet">
        </div>
    </div>
</div>
