

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Nosotros</h1>
        <p class="lead">VETERINARIA quiere formar parte de tu equipo de veterinarios, asesorando en el campo de los procesos cardio-respiratorios.</p>
        <hr class="my-4">
        <p>&quot;Desde 1989, recién licenciada en la UAB, empezó mi inquietud por la cardiología, con especial interés y curiosidad en la electrocardiografía. Desde entonces miles de electrocardiogramas analizados, referentes a pacientes específicos, con su propia historia clínica y con pruebas adicionales que aportan una información indispensable para aproximar el diagnóstico en cada caso.</p>
        <p>Mi pasión por la cardiología me motiva a acudir regularmente a reuniones y congresos de cardiología nacionales e internacionales.</p>
        <p>Realicé una estancia en la Sección de Cardiología del Hospital Veterinario de la UPPEN (Universidad de Pensilvania). He publicado artículos en revistas nacionales y capítulos en libros especializados de cardiología y procesos respiratorios, e impartido cursos y conferencias sobre cardiología, electrocardiografía y radiología torácica en pequeños animales, en ámbito nacional e internacional.</p>
        <p>Quien me conoce sabe que disfruto hablando de cardiología y me encanta ayudar a los veterinarios clínicos en su trabajo diario, aproximando los diagnósticos de procesos cardio-respiratorios o aportando información en la valoración del riesgo anestésico o en la de los estudios de pacientes geriátricos, por ejemplo. En general, ofrecer un servicio de mayor valor añadido poniéndolo a disposición de los propietarios que quieren una completa información en las patologías cardio-respiratorias de su mascota.&quot;<br>&nbsp;</p>
        <div  class="fotos">
            <img src="https://img.freepik.com/vector-gratis/veterinario-medico-perro-gato-mostrador-clinica-veterinaria_36082-523.jpg?size=626&ext=jpg" alt="vet">
        </div>
    </div>
</div>
