<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Presentación</h1>
        <p class="lead">VETERINARIA ofrece al veterinario clínico un servicio personalizado para la práctica diaria en el campo de la fisiopatología cardiorrespiratoria. Es una herramienta sencilla, asequible, fiable y segura, que ofrece, desde su centro veterinario, un asesoramiento especializado en procesos cardio-respiratorios en perros y gatos.</p>
        <hr class="my-4">
        <ul class="list-group">
            <li class="list-group-item">
                <p>VETERINARIA aporta conocimientos en patologías cardiacas y respiratorias caninas y felinas, pudiendo llegar a ser un pieza más del equipo de trabajo de la clínica.</p>
                <div class="fotos">
                    <img src="https://www.purina.es/sites/g/files/mcldtz1656/files/2018-01/visita-veterinario-gato_0.jpg" alt="gato">
                </div>
            </li>
            <li class="list-group-item">
                <p>VETERINARIA ofrece un segunda opinión o puede valorar los diferentes diagnósticos en procesos cardio-respiratorios.</p>
                <div class="fotos">
                    <img src="https://cnnespanol2.files.wordpress.com/2017/12/cnn-perro-hueso.jpg?quality=100&strip=info" alt="perro">
                </div>
            </li>
            <li class="list-group-item">
                <p>VETERINARIA es una buena herramienta de aprendizaje en el campo de la cardiología, pudiendo adquirir conocimientos progresivamente a medida que se trabaja con el respaldo de un veterinario con experiencia sobre este campo.</p>
            </li>
          </ul>
    </div>
</div>
